     body {
       background: url("https://t4.ftcdn.net/jpg/06/06/87/63/360_F_606876358_NU2hCq3RP7xDpXG6PWnAMGGAun0fB5tW.jpg") no-repeat center center fixed;
       background-size: cover;
       font-family: "Oswald" sans-serif;
       backdrop-filter: blur(3px);
       min-height: 100vh;
       min-height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
       font-family: 'Poppins', sans-serif;
       overflow: auto;
       overflow-x: hidden;
     }
     .outer {
       background: rgba(255, 255, 255, 0.18);
       backdrop-filter: blur(12px);
       border-radius: 25px;
       padding: 35px;
       box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
       border: 1px solid rgba(255, 255, 255, 0.3);
       position: relative;
       background: repeating-conic-gradient(from var(--a), #27ffa5 0%, #b13a62 5%, transparent 5%, transparent 40%, #2797ff 50%);
       animation: animate 4s linear infinite;
       z-index: 1;
     }

     @property --a {
       syntax: '<angle>';
       inherits: false;
       initial-value: 0deg;
     }

     @keyframes animate {
       0% {
         --a: 0deg;
       }

       100% {
         --a: 360deg;
       }
     }

     .outer::after {
       content: '';
       position: absolute;
       inset: 8px;
       background: #2d2d39;
       border-radius: 15px;
       border: 8px solid #252536;
       z-index: -1;
     }


     .form-label {
       color: #fff;
       font-weight: 600;
     }

     .form-control {
       border-radius: 12px;
       padding: 12px 15px;
       border: none;
     }

     .form-control:focus {
       box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
     }

     h2 {
       color: white;
       font-weight: 700;
       text-align: center;
       margin-bottom: 25px;
     }

     .btn-custom {
       background: #fff;
       color: #4a90e2;
       font-weight: 700;
       border-radius: 12px;
       padding: 12px;
       transition: 0.3s;
     }

     .btn-custom:hover {
       background: #ececec;
       transform: scale(1.03);
     }

     #Reset1 {
       color: #b867ff;
     }

     .table {
       overflow: hidden;
       background: rgba(255, 255, 255, 0.18);
       backdrop-filter: blur(12px);
     }

     .table-scroll {
       max-height: 300px;
       overflow-y: auto;
       display: block;
     }

     .table-scroll table {
       width: 100%;
       border-collapse: collapse;
     }

     .table-scroll thead,
     .table-scroll tbody tr {
       display: table;
       width: 100%;
       table-layout: fixed;
       overflow: hidden;
     }

     .table-scroll thead {
       width: calc(100% - 0.6em);
     }